<div class="w-full pb-2 shop-now-btn hidden">
    <div 
        style="background-color: rgba(249,236,245,0.7);"
        class="mx-auto px-4 xs:px-6 w-fit text-center text-xs xs:text-sm sm:text-base uppercase tracking-widest [word-spacing:0.3rem] py-2 border-black border font-semibold block relative after:absolute after:w-full after:h-0 after:bottom-0 after:left-0 after:bg-black after:duration-300 mouse:hover:after:h-0.5 touchscreen:after:hidden"
    >SHOP NOW</div>
</div>