---
import Checkbox from "@components/input-fields/checkbox"
import TextInput from "@components/input-fields/text-input"
import { acceptMembership } from "@misc/env-vars"

const encodedPathname = encodeURIComponent(Astro.url.pathname)
---

<div class="pb-2 pt-3 mb-4">
    <div class='uppercase text-xs tracking-widest xs:text-sm xs:tracking-[0.2rem]'>
        2. Contact Information
    </div>
    {acceptMembership && <div class="text-[0.7rem] tracking-widest text-gray-500 leading-5 align-middle">
        Already a member?
        <a href={`/sign-in?rd=${encodedPathname}`} class="font-bold underline text-black">Sign In</a>
    </div>}
</div>
<TextInput 
    type='email' 
    id='email' 
    name='email' 
    placeholder="Email Address" 
    required 
    className={acceptMembership ? 'mb-6' : 'mb-2'}
    client:only="solid-js"
    maxLength={100}
/>
{acceptMembership && <>
<Checkbox id="guest-sign-up" name="guest-sign-up" client:only="solid-js">
    <p class='font-light text-xs tracking-wider pl-6'>
        <strong>Sign up as a member</strong> (Optional)<br /><a href="/perks" target="_blank" rel="noopener noreferrer" class="underline mouse:hover:decoration-2 mouse:hover:font-normal">View benefits</a>
    </p>
</Checkbox>
<TextInput
    type="password"
    placeholder='Enter Password'
    id="guest-sign-up-password"
    name="guest-sign-up-password"
    className='mt-8'
    showPasswordRules
    required
    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!?<>\\/\\@#$%\\^&\\*\\(\\)~\\=\\-_\\+\\.,])[a-zA-Z0-9!?<>\\/\\@#$%\\^&\\*\\(\\)~\\=\\-_\\+\\.,]{8,20}$"
    client:only="solid-js"
/>
</>}

<script>
    import { checkoutGuestSignUp } from "@stores"

    const guestSignUpOnClick = (e:Event) => {
        const targetElem = e.target as HTMLElement
        const guestSignUpCheckbox = targetElem.closest('#guest-sign-up') as HTMLInputElement
        if (!!guestSignUpCheckbox) checkoutGuestSignUp.set(guestSignUpCheckbox.checked)
    }

    document.addEventListener('change',guestSignUpOnClick)
</script>