<input type="checkbox" class="peer/loading" hidden id="loading-overlay" />
<div class="z-50 fixed w-screen h-screen opacity-50 bg-gray-600 top-0 left-0 hidden peer-checked/loading:block" />
<div class='fixed top-0 left-0 w-full h-full flex-col justify-center z-50 hidden peer-checked/loading:flex'>
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto animate-spin fill-white h-20 w-20 xs:h-32 xs:w-32">
        <use href="#loading-big" />
    </svg>
</div>