<input type="checkbox" class="peer/payment-in-process" hidden id="payment-in-process-modal" />
<div class="z-50 fixed w-screen h-screen opacity-50 bg-gray-600 top-0 left-0 hidden peer-checked/payment-in-process:block" />
<div class='fixed top-0 left-0 w-full h-full flex-col justify-center z-50 hidden peer-checked/payment-in-process:flex'>
    <div class="bg-white max-w-96 w-11/12 mx-auto rounded-md p-4 text-center text-sm md:text-base">
        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto animate-spin fill-gray-400 h-20 w-20">
            <use href="#loading-big" />
        </svg>
        <p class="font-semibold">Processing your Payment</p>
        <p class="font-light">Please wait and keep this window open.</p>
    </div>
</div>