---
import Layout from '../components/layout/index.astro';
import SignUpForm from '../components/sign-up-form/index.astro';
import { httpRequestHeader, sessionCookieOption, type IMdwResponse, type IShoppingBagSidebarProp } from '@misc';
import { FM_CLIENT_WEBSHOP_API_URL, FM_IS_ONLINE } from 'astro:env/server'
import { headerCarouselOffKey } from '@misc'
import { acceptMembership } from '@misc/env-vars';

if (!acceptMembership) return new Response(null,{status:404})

const isOnline = FM_IS_ONLINE === 'true'
const initialSessionID = Astro.cookies.get("sessionID")?.value || ""
const headerCarouselOff = Astro.cookies.has(headerCarouselOffKey)

const resp = await fetch(`${ FM_CLIENT_WEBSHOP_API_URL }/webshop/sign-up-page-init`,{
    headers:httpRequestHeader(true,'SSR',true,initialSessionID,Astro.clientAddress,!headerCarouselOff)
})
if (!resp.ok) return new Response(null,{status:500})

const json = await resp.json()
const {mdwResponse} = json as {mdwResponse: IMdwResponse}
const {
    expiresAt,
    sessionID,
    signedIn,
    cartProductDetailsMap,
    cartItemMap,
    cartContent,
    paymentInProcess,
    selCollectionPoint,
    prfCollectionPoint,
    shopAddressMap,
    minSpendForFreeShipping,
    firstName,
    headerCarouselTexts,
} = mdwResponse

if ( signedIn ) return Astro.redirect('/')
else Astro.cookies.set('sessionID',sessionID,sessionCookieOption(isOnline,expiresAt))

const shoppingBagProp:IShoppingBagSidebarProp = {
    isSignedIn:signedIn,
    cartContent,
    freeShippingLimit:minSpendForFreeShipping,
    cartItemMap,
    productDetailsMap:cartProductDetailsMap
}

Astro.cookies.set("csrf_token",resp.headers.get("X-CSRF-TOKEN"),sessionCookieOption(isOnline))
---

<Layout {...{
    shoppingBagProp,
    paymentInProcess,
    selCollectionPoint,
    prfCollectionPoint,
    shopAddressMap,
    signedIn,
    showUserIcon:false,
    firstName,
    title:'Sign Up',
    headerCarouselTexts,
}}>
    <div class="flex justify-center">
        <div class="divide-y p-8 space-y-8 max-w-md lg:grid lg:grid-cols-2 lg:divide-y-0 lg:divide-x lg:max-w-screen-lg lg:pb-10">
            <div class="lg:pr-8">
                <SignUpForm />
            </div>
            <div class="divide-y space-y-8 lg:pl-8">
                <div class="pt-6">
                    <p class="text-center uppercase text-[0.8rem] tracking-widest">Already a member?</p>
                    <a href="/sign-in" class="mt-4 w-full text-center uppercase font-serif tracking-[0.4rem] [word-spacing:0.2em] py-2 border-black border font-semibold block relative after:absolute after:w-full after:h-0 after:bottom-0 after:left-0 after:bg-black after:duration-300 mouse:hover:after:h-0.5">Sign in</a>
                </div>
                <div class="pt-4">
                    <a href="/track-order" class="mt-4 w-full text-center uppercase font-serif tracking-[0.4rem] [word-spacing:0.2em] py-2 border-black border font-semibold block relative after:absolute after:w-full after:h-0 after:bottom-0 after:left-0 after:bg-black after:duration-300 mouse:hover:after:h-0.5">Track Order</a>
                </div>
            </div>
        </div>
    </div>
</Layout>