---
import CloseSidebarIcon from "./icons/close-sidebar-icon.astro"
import pages from './pages.json'
---

<input type="checkbox" hidden id="menu-sidebar-checkbox" class="peer/menu" />
<div id="menu-sidebar" class="peer-checked/menu:left-0 fixed top-0 left-[-400px] h-full w-full max-w-[400px] bg-white shadow-lg transition-all duration-300 z-50">
    <div class="flex flex-row-reverse">
        <label for="menu-sidebar-checkbox" class="cursor-pointer p-2">
            <CloseSidebarIcon />
        </label>
    </div>
    <nav>
        <ul class="font-display text-xl uppercase">
            {pages.map(({name,path})=>(
                <li>
                    <a href={path} class="flex py-2 px-6">
                        <span class="relative inline-block after:absolute after:bottom-0 after:bg-black after:h-px after:left-0 after:w-0 after:duration-300 touchscreen:after:hidden mouse:hover:after:w-full">
                            {name}
                        </span>
                    </a>
                </li>
            ))}
        </ul>
    </nav>
</div>

<script>
    const checkbox = document.getElementById("menu-sidebar-checkbox") as HTMLInputElement
    const overlay = document.getElementById('menu-overlay');
    const header = document.querySelector('header');
    const main = document.querySelector('main');
    const footer = document.querySelector('footer');
    const htmlTag = document.querySelector('html')
    const showOverlay = (e:Event) => {
        const show = (e.target as HTMLInputElement).checked
        overlay.classList.toggle('hidden', !show);
        header.classList.toggle('blur-sm', show);
        main.classList.toggle('blur-sm', show);
        footer.classList.toggle('blur-sm', show);
        document.body.classList.toggle("overflow-y-hidden",show)
        htmlTag.classList.toggle("overflow-y-hidden",show)
        if (show) window.addEventListener('resize', onResize,true);
        else window.removeEventListener('resize', onResize,true);
    }
    
    const uncheckCheckbox = () => {
        checkbox.checked = false
        window.removeEventListener('resize', onResize,true);
        overlay.classList.toggle('hidden', true);
        header.classList.toggle('blur-sm', false);
        main.classList.toggle('blur-sm', false);
        footer.classList.toggle('blur-sm', false);
        document.body.classList.toggle("overflow-y-hidden",false)
        htmlTag.classList.toggle("overflow-y-hidden",false)
    }
    overlay.addEventListener('click',uncheckCheckbox,true)
    
    let resizeTimeout;
    const resize = () => {
        const { innerWidth } = window
        if (innerWidth > 768 && checkbox.checked) uncheckCheckbox()
    }
    const onResize = () => {
        clearTimeout(resizeTimeout);
        resizeTimeout = setTimeout(resize, 200);
    }

    checkbox.addEventListener('change',showOverlay,true)
</script>