---
import ImageVertical from "./image-vertical.astro";
import type { IProductImages } from "@components/catalogue-item/interfaces";

interface Props {
    images: IProductImages[];
    alt:string;
}

const { images, alt } = Astro.props as Props
---
<div>
    {
        images.map(({name,ext},i)=>(
            <ImageVertical name={name} ext={ext} alt={alt} index={i} catalogue />
        ))
    }
</div>