---
interface Props {
    title:string;
    modalCheckboxID:string;
}

const { title, modalCheckboxID } = Astro.props as Props
---
<div class="border border-gray-300 rounded-md p-4 pr-2 pb-2 mt-8">
    <div class="flex justify-between">
        <h3 class="font-serif [word-spacing:0.3rem] tracking-wider font-semibold text-base sm:text-2xl mb-4">{title}</h3>
        <label class="cursor-pointer p-2 pt-0.5 -mt-1 sm:mt-0.5 -mr-1" for={modalCheckboxID}>
            <svg class="h-6 w-6">
                <use href="#edit-icon" />
            </svg>
        </label>
    </div>
    <slot />
</div>